{% extends 'base1.html' %}
{% load static %}

{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group List</title>
</head>
<body>
    <h1>Group List</h1>
    <ul>
    {% for group in groups %}
        <li><a href="{% url 'group_detail' group.pk %}">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
    <!---<a href="{% url 'group_create' %}">Create Group</a>--->
</body>

<!-- create_group.html -->
{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}
<!---<form method="post">
  {% csrf_token %}
  <input type="text" name="group_name" placeholder="Group Name" required>
  <button type="submit">Create Group</button>
</form>--->

<!-- group_list.html -->
<!---<ul>
  {% for group in groups %}
    <li>{{ group.name }}</li>
  {% endfor %}
</ul>--->

</html>

{% endblock %}
