{% extends "base2.html" %}

{% block content %}

<html>
    <!--Page header-->
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title">Create Payment</h4>
        </div>
        <div class="page-rightheader ml-auto d-lg-flex d-none">
            <div class="ml-5 mb-0">
                <a class="btn btn-white date-range-btn" href="#" id="daterange-btn">
                    <svg class="header-icon2 mr-3" x="1008" y="1248" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                        <path d="M5 8h14V6H5z" opacity=".3"/><path d="M7 11h2v2H7zm12-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-4 3h2v2h-2zm-4 0h2v2h-2z"/>
                    </svg> <span>Select Date
                    <i class="fa fa-caret-down"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!--End Page header-->
<!-- create_payment.html 
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Payment</button>
</form>
-->
<!-- payment_form.html -->
<!-- payment_form.html -->
<!-- payment_form.html -->




<!---
<form method="post">
    {% csrf_token %}
    <label for="id_owner">Owner:</label>
    {{ form.owner }}
    <input type="submit" value="Submit">
</form>
--->
<!-- payment_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <form method="post" id="payment-form">
        {% csrf_token %}
        <label for="id_owner">Owner:</label>
        {{ form.owner }}
        
        <input type="submit" value="Submit">
    </form>

    <script>
        $(document).ready(function() {
            $('#id_owner').autocomplete({
                source: "{% url 'autocomplete_register' %}",
                minLength: 2,
                select: function(event, ui) {
                    $('#id_owner').val(ui.item.value);
                }
            });
        });
    </script>
</body>
</html>

</body>
</html>


</html>

{% endblock %}
