{% extends "base2.html" %}

{% block content %}

<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title">Stall Management</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
        <div class="ml-5 mb-0">
            <a class="btn btn-white date-range-btn" href="#" id="daterange-btn">
                <svg class="header-icon2 mr-3" x="1008" y="1248" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path d="M5 8h14V6H5z" opacity=".3"/><path d="M7 11h2v2H7zm12-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-4 3h2v2h-2zm-4 0h2v2h-2z"/>
                </svg> <span>Select Date
                <i class="fa fa-caret-down"></i></span>
            </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!--Row-->
<div class="row">
    <div class="col-xl-4 col-md-12 col-lg-3">
        <div class="card expenses-card overflow-hidden">
            <div class="card-body">
                <div class="feature">
                    <i class="fa fa-university feature-icon"></i>
                    <h1 class="font-weight-bold mb-0 mt-4 fs-50">{{ total_vacant_count }}</h1>
                    <p class="text-muted fs-18 mb-0">Total Vacant Rooms</p>
                </div>
            </div>
            <div class="chart-wrapper">
                <canvas id="Chart" class="overflow-hidden"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm d-flex mb-4 mb-sm-0">
                        <i class="mdi mdi-basket-fill fs-60 text-success icon-dropshadow-success mr-3"></i>
                        <div class="mt-5">
                            <h3>Occupied</h3>
            {% for floor_data in occupied_rooms_per_floor %}
            {% if floor_data.floor__name == 'Ground' %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <h3 class="mb-0 font-weight-bold">{{ floor_data.occupied_count }}</h3>
            
        </tr>
    {% endif %}
{% endfor %}
                            <!---<h6>Total Orders</h6>
                            <h3 class="mb-0 font-weight-bold">2245</h3>--->
                        </div>
                    </div>
                    <div class="col-12 col-sm d-flex mb-4 mb-sm-0">
                        <i class="mdi mdi-basket-fill fs-60 text-primary icon-dropshadow-primary mr-3"></i>
                        <div class="mt-5">
                            <h3>Occupied</h3>
            {% for floor_data in occupied_rooms_per_floor %}
            {% if floor_data.floor__name == 'First' %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <h3 class="mb-0 font-weight-bold">{{ floor_data.occupied_count }}</h3>
            
        </tr>
    {% endif %}
{% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-sm d-flex">
                        <i class="mdi mdi-basket-fill fs-60 text-danger icon-dropshadow-danger mr-3"></i>
                        <div class="mt-5">
                            <h3>Occupied</h3>
            {% for floor_data in occupied_rooms_per_floor %}
            {% if floor_data.floor__name == 'Second' %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <h3 class="mb-0 font-weight-bold">{{ floor_data.occupied_count }}</h3>
            
        </tr>
    {% endif %}
{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-1">Vacant</h3>
            {% for floor_data in vacant_rooms_per_floor %}
            {% if floor_data.floor__name == 'Ground' %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <h3 class="mb-0 font-weight-bold">{{ floor_data.vacant_count }}</h3>
            
        </tr>
    {% endif %}
{% endfor %}
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-1">Vacant</h3>
            {% for floor_data in vacant_rooms_per_floor %}
            {% if floor_data.floor__name == 'First' %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <h3 class="mb-0 font-weight-bold">{{ floor_data.vacant_count }}</h3>
            
        </tr>
    {% endif %}
{% endfor %}
 </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-1">Vacant</h3>
            {% for floor_data in vacant_rooms_per_floor %}
            {% if floor_data.floor__name == 'Second' %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <h3 class="mb-0 font-weight-bold">{{ floor_data.vacant_count }}</h3>
            
        </tr>
    {% endif %}
{% endfor %}
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Row-->
<!---
<div class="row">
    
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mb-lg-4 mb-xl-0">
                        <div class="mb-2 fs-18 text-muted">
                           Occupied Ground Floor
                        </div>
                        <h1 class="font-weight-bold mb-1">30,175</h1>
                        <span class="text-success"><i class="fa fa-arrow-up mr-1"></i> +1.8%</span>
                    </div>
                    <div class="col col-auto">
                        <div class="mx-auto chart-circle chart-circle-md chart-circle-success mt-sm-0 mb-0" data-value="0.60" data-thickness="12" data-color="#2dce89">
                            <div class="mx-auto chart-circle-value text-center fs-20">{{ ground_floor_occupied_percentage }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mb-lg-4 mb-xl-0">
                        <div class="mb-2 fs-18 text-muted">
                            Occupied First Floor
                        </div>
                        <h1 class="font-weight-bold mb-1">45,675</h1>
                        <span class="text-primary"><i class="fa fa-arrow-up mr-1"></i> +1.4%</span>
                    </div>
                    <div class="col col-auto">
                        <div class="mx-auto chart-circle chart-circle-md chart-circle-primary mt-sm-0 mb-0" data-value="0.85" data-thickness="12" data-color="#4454c3">
                            <div class="mx-auto chart-circle-value text-center fs-20">{{ ground_floor_occupied_percentage }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mb-lg-4 mb-xl-0">
                        <div class="mb-2 fs-18 text-muted">
                            Occupied Second Floor
                        </div>
                        <h1 class="font-weight-bold mb-1">7,745</h1>
                        <span class="text-danger"><i class="fa fa-arrow-down mr-1"></i> -2.4%</span>
                    </div>
                    <div class="col col-auto">
                        <div class="mx-auto chart-circle chart-circle-md chart-circle-secondary mt-sm-0 mb-0" data-value="0.45" data-thickness="12" data-color="#f7346b">
                            <div class="mx-auto chart-circle-value text-center fs-20">25%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mb-lg-4 mb-xl-0">
                        <div class="mb-2 fs-18 text-muted">
                           Vacant Ground Floor
                        </div>
                        <h1 class="font-weight-bold mb-1">30,175</h1>
                        <span class="text-success"><i class="fa fa-arrow-up mr-1"></i> +1.8%</span>
                    </div>
                    <div class="col col-auto">
                        <div class="mx-auto chart-circle chart-circle-md chart-circle-success mt-sm-0 mb-0" data-value="0.60" data-thickness="12" data-color="#2dce89">
                            <div class="mx-auto chart-circle-value text-center fs-20">{{ ground_floor_vacant_percentage }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mb-lg-4 mb-xl-0">
                        <div class="mb-2 fs-18 text-muted">
                            Vacant First Floor
                        </div>
                        <h1 class="font-weight-bold mb-1">45,675</h1>
                        <span class="text-primary"><i class="fa fa-arrow-up mr-1"></i> +1.4%</span>
                    </div>
                    <div class="col col-auto">
                        <div class="mx-auto chart-circle chart-circle-md chart-circle-primary mt-sm-0 mb-0" data-value="0.85" data-thickness="12" data-color="#4454c3">
                            <div class="mx-auto chart-circle-value text-center fs-20">{{ ground_floor_vacant_percentage }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mb-lg-4 mb-xl-0">
                        <div class="mb-2 fs-18 text-muted">
                            Vacant Second Floor
                        </div>
                        <h1 class="font-weight-bold mb-1">7,745</h1>
                        <span class="text-danger"><i class="fa fa-arrow-down mr-1"></i> -2.4%</span>
                    </div>
                    <div class="col col-auto">
                        <div class="mx-auto chart-circle chart-circle-md chart-circle-secondary mt-sm-0 mb-0" data-value="0.45" data-thickness="12" data-color="#f7346b">
                            <div class="mx-auto chart-circle-value text-center fs-20">25%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
--->
<!---  
<h2>Percentage of Occupied and Vacant Rooms for Ground Floor:</h2>
    <p>Occupied: {{ ground_floor_occupied_percentage }}%</p>
    <p>Vacant: {{ ground_floor_vacant_percentage }}%</p>


<h3>Occupied</h3>
            {% for floor_data in occupied_rooms_per_floor %}
            {% if floor_data.floor__name == 'Second' %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <h3 class="mb-0 font-weight-bold">{{ floor_data.occupied_count }}</h3>
            
        </tr>
    {% endif %}
{% endfor %}
    <h3>vacant</h3>
    {% for floor_data in vacant_rooms_per_floor %}
    {% if floor_data.floor__name == 'Ground' %}
<tr>
    <td>{{ floor_data.floor__name }}</td>
    <h3 class="mb-0 font-weight-bold">{{ floor_data.vacant_count }}</h3>
    
</tr>
{% endif %}
{% endfor %}

<h3>Count Occupied Rooms Per Floor:</h3>
<ul>
    {% for item in occupied_rooms_per_floor %}
        <li>Floor: {{ item.floor__name }}, 
            Occupied Rooms: {{ item.occupied_count }}</li>
    {% endfor %}
</ul>

<h3>Count Vacant Rooms Per Floor:</h3>
<ul>
    {% for item in vacant_rooms_per_floor %}
        <li>Floor: {{ item.floor__name }}, Vacant Rooms: {{ item.vacant_count }}</li>
    {% endfor %}
</ul>

<h3>All Vacant Rooms:</h3>
<ul>
    {% for room in vacant_rooms %}
        <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor }}, Amount: {{ room.amount }}</li>
    {% endfor %}
</ul>

<h2>Vacant Rooms per floor:</h2>
<h3>Vacant Rooms on Floor "Ground":</h3>
<ul>
    {% for room in vacant_rooms_ground %}
        <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor__name }}, Amount: {{ room.amount }}</li>
    {% empty %}
        <li>No occupied rooms found on this floor.</li>
    {% endfor %}
</ul>
<h3>Vacant Rooms on Floor "First":</h3>
  <ul>
      {% for room in vacant_rooms_first %}
          <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor__name }}, Amount: {{ room.amount }}</li>
      {% empty %}
          <li>No occupied rooms found on this floor.</li>
      {% endfor %}
  </ul>
  <h3>Vacant Rooms on Floor "Second":</h3>
        <ul>
            {% for room in vacant_rooms_second %}
                <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor__name }}, Amount: {{ room.amount }}</li>
            {% empty %}
                <li>No occupied rooms found on this floor.</li>
            {% endfor %}
        </ul>

<h3>List Rooms with Details</h3>
{% for room in rooms %}
  <ol>
    Room ID: {{ room.id }} -
    Floor: {{ room.floor.name }} -
    Room Number: {{ room.room_number }} 
    Amount: {{ room.amount }} 
    Room Status: {{ room.room_status }} 

  </ol>
  {% endfor %}

  <table>
    <thead>
        <tr>
            <th>Floor Name</th>
            <th>Vacant Count</th>
        </tr>
    </thead>
    <tbody>
        {% for floor_data in vacant_rooms_per_floor %}
        <tr>
            <td>{{ floor_data.floor__name }}</td>
            <td>{{ floor_data.vacant_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Total Vacant Rooms: {{ total_vacant_count }}</h2>
</div>
</div>
<!-- end app-content-->
</div>

<!--End Page header-->


     

      {% endblock %}