{% extends "base2.html" %}

{% block content %}
<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
        <div class="ml-5 mb-0">
            <a class="btn btn-white date-range-btn" href="#" id="daterange-btn">
                <svg class="header-icon2 mr-3" x="1008" y="1248" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path d="M5 8h14V6H5z" opacity=".3"/><path d="M7 11h2v2H7zm12-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-4 3h2v2h-2zm-4 0h2v2h-2z"/>
                </svg> <span>Select Date
                <i class="fa fa-caret-down"></i></span>
            </a>
        </div>
    </div>
</div>
<!--End Page header-->
<h3>Count Occupied Rooms Per Floor:</h3>
    <ul>
        {% for item in occupied_rooms_per_floor %}
            <li>Floor: {{ item.floor__name }}, Occupied Rooms: {{ item.occupied_count }}</li>
        {% endfor %}
    </ul>

<h3>Count Vacant Rooms Per Floor:</h3>
    <ul>
        {% for item in vacant_rooms_per_floor %}
            <li>Floor: {{ item.floor__name }}, Vacant Rooms: {{ item.vacant_count }}</li>
        {% endfor %}
    </ul>

<h3>All Vacant Rooms:</h3>
    <ul>
        {% for room in vacant_rooms %}
            <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor }}, Amount: {{ room.amount }}</li>
        {% endfor %}
    </ul>

<h2>Vacant Rooms per floor:</h2>
    <h3>Vacant Rooms on Floor "Ground":</h3>
    <ul>
        {% for room in vacant_rooms_ground %}
            <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor__name }}, Amount: {{ room.amount }}</li>
        {% empty %}
            <li>No occupied rooms found on this floor.</li>
        {% endfor %}
    </ul>
    <h3>Vacant Rooms on Floor "First":</h3>
      <ul>
          {% for room in vacant_rooms_first %}
              <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor__name }}, Amount: {{ room.amount }}</li>
          {% empty %}
              <li>No occupied rooms found on this floor.</li>
          {% endfor %}
      </ul>
      <h3>Vacant Rooms on Floor "Second":</h3>
            <ul>
                {% for room in vacant_rooms_second %}
                    <li>Room Number: {{ room.room_number }}, Floor: {{ room.floor__name }}, Amount: {{ room.amount }}</li>
                {% empty %}
                    <li>No occupied rooms found on this floor.</li>
                {% endfor %}
            </ul>

<h3>List Rooms with Details</h3>
{% for room in rooms %}
      <ol>
        Room ID: {{ room.id }} -
        Floor: {{ room.floor.name }} -
        Room Number: {{ room.room_number }} 
        Amount: {{ room.amount }} 
        Room Status: {{ room.room_status }} 

      </ol>
      {% endfor %}

     

      {% endblock %}