{% extends "base2.html" %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Payment List</title>
</head>
<body>
    <!--Page header-->
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title">Receiver and Banker Management</h4>
        </div>
        <div class="page-rightheader ml-auto d-lg-flex d-none">
            <div class="ml-5 mb-0">
                <a class="btn btn-white date-range-btn" href="#" id="daterange-btn">
                    <svg class="header-icon2 mr-3" x="1008" y="1248" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="f\
alse">
                        <path d="M5 8h14V6H5z" opacity=".3"/><path d="M7 11h2v2H7zm12-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2\
-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-4 3h2v2h-2zm-4 0h2v2h-2z"/>
                    </svg> <span>Select Date
                    <i class="fa fa-caret-down"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!--End Page header-->
    <div class="card">
        <div class="card-header">
            <div class="card-title">Owners Balance</div>
        </div>
        <div class="card-body">
            <div class="">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered text-nowrap key-buttons">
                        <thead>
                            <tr>
                <th class="border-bottom-0">Receiver</th>
                <th class="border-bottom-0">Amount Banked</th>
                <th class="border-bottom-0">Note</th>
                <th class="border-bottom-0">reference_number</th>
                <th class="border-bottom-0">banked_by</th>
                <th class="border-bottom-0">date_received</th>
                

                            </tr>
                        </thead>
                        <tbody>
            {% for payment in bankers %}
            <tr>
                <td>{{ payment.receiver }}</td>
                <td>{{ payment.amount_banked }}</td>
                <td>{{ payment.note }}</td>
                <td>{{ payment.reference_number }}</td>
                <td>{{ payment.banked_by }}</td>
                <td>{{ payment.date_received }}</td>
                
                <!---<td><a href="{% url 'edit_payment' payment_id=payment.id %}">Edit</a></td>--->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>

<div class="card">
<div class="card-header">
<div class="card-title">Total Received</div>
</div>
<div class="card-body">
<div class="">
<div class="table-responsive">
    <table id="example" class="table table-bordered text-nowrap key-buttons">
        <thead>
            <tr>

<th class="border-bottom-0">Receiver</th>
<th class="border-bottom-0">Total Amount Received</th>
</tr>
</thead>
<tbody>
    {% for receiver in total_collected_receiver %}
            <tr>
                <td>{{ receiver.received_by__username }}</td>
                <td>{{ receiver.total_amount_received }}</td>
            </tr>
            {% endfor %}
           
</tbody>
</table>
</div>
</div>
</div>
</div>


<div class="card">
    <div class="card-header">
        <div class="card-title">Total Amount Banked</div>
    </div>
    <div class="card-body">
        <div class="">
            <div class="table-responsive">
                <table id="example" class="table table-bordered text-nowrap key-buttons">
                    <thead>
                        <tr>
                            <th class="border-bottom-0">Banker</th>
                            <th class="border-bottom-0">Total Amount Banked</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bank in total_collected_banked %}
                        <tr>
                            <td>{{ bank.receiver__username }}</td>
                            <td>{{ bank.total_amount_banked }}</td>
                        </tr>
                        {% endfor %}
    


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
    <div class="card-title">Receiver Balance</div>
    </div>
    <div class="card-body">
    <div class="">
    <div class="table-responsive">
        <table id="example" class="table table-bordered text-nowrap key-buttons">
            <thead>
                <tr>
    
    <th class="border-bottom-0">Receiver</th>
    <th class="border-bottom-0">Balance</th>
    </tr>
    </thead>
    <tbody>
        {% for receiver_username, balance in balances.items %}
            <tr>
                <td>{{ receiver_username }}</td>
                <td>{{ balance }}</td>
            </tr>
            {% endfor %}
               
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>








   
</body>
</html>



{% endblock %}