<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles3.css">
    <title>xyz</title>
</head>
<body>

    <div class='container' id='header'>
        <div class='logo_left'>
            <img src="/static/images/brand/logo2.jpeg" alt="Logo">
        </div>
        <div class='logo_right'>
            <img src="/static/images/brand/logo.jpeg" alt="Logo">
        </div>
    </div>

    <div class='container' id='nav'>
        <div><a href="#">Home</a></div>
        <div><a href="#">Register</a></div>
        <div><a href="#">Payment</a></div>
    </div>

    <div class='image'>
    <p class='caption'>The local semi- pro soccer team in Seattle, WA plays an international friendly</p>
  </div>
</body>
</html>
<!--
#header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
<--
