{% extends "base2.html" %}

{% block content %}


<body>
    <!--Page header-->
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title">Dashboard</h4>
        </div>
        <div class="page-rightheader ml-auto d-lg-flex d-none">
            <div class="ml-5 mb-0">
                <a class="btn btn-white date-range-btn" href="#" id="daterange-btn">
                    <svg class="header-icon2 mr-3" x="1008" y="1248" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                        <path d="M5 8h14V6H5z" opacity=".3"/><path d="M7 11h2v2H7zm12-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-4 3h2v2h-2zm-4 0h2v2h-2z"/>
                    </svg> <span>Select Date
                    <i class="fa fa-caret-down"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!--End Page header-->
    

    <div class="card">
        <div class="card-header">
            <div class="card-title">Owners Balance</div>
        </div>
        <div class="card-body">
            <div class="">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered text-nowrap key-buttons">
                        <thead>
                            <tr>
                                
                                <th class="border-bottom-0">Owner</th>
                                <th class="border-bottom-0">Floor</th>
                                <th class="border-bottom-0">Room Number</th>
                                <th class="border-bottom-0">Month Paid</th>
                                <th class="border-bottom-0">Due Months</th>
                                <th class="border-bottom-0">Balance</th>
                                
                            </tr>
                        </thead>
                        <tbody>
            {% for data in payment_data %}
            <tr>
                <td>{{ data.owner.name }}</td>
                <td>{{ data.floor.name }}</td>
                <td>{{ data.room_number.room_number }}</td>
                <td>{{ data.month_paid }}</td>
                <td>{{ data.due_months }}</td>
                <td>{{ data.balance }}</td>
            </tr>
            {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h1>Stalls Montly Balance</h1>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Stall Owners</div>
        </div>
        <div class="card-body">
            <div class="">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered text-nowrap key-buttons">
                        <thead>
                            <tr>
                                
                                <th class="border-bottom-0">Months</th>
                                <th class="border-bottom-0">Sum of Amounts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for month, amount in amounts_by_month.items %}
                            <tr>
                                <td>{{ month|date:"F Y" }}</td>
                                <td>{{ amount }}</td>
                            </tr>
                        {% endfor %}
                        
                            
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h2>Amount for This Month</h2>
                        <p>{{ amount_this_month }}</p>
                    

                        <h2>Amount for This Month per Floor</h2>
    <ul>
        {% for floor, amount in amount_this_month_per_floor.items %}
            <li>Floor {{ floor }}: {{ amount }}</li>
        {% endfor %}
    </ul>
</body>
</html>



{% endblock %}