<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles5.css">
    <title>xyz</title>
</head>
<body>
    <div class="main-container">
    <div id='header' class="header-container">
        
        <div class='logo_left'>
            <img src="/static/images/brand/logo2.jpeg" alt="Logo">
        </div>
        <div class="header-2">
            <h1>Marsabit Municipality</h1>
        </div>
        <div class='logo_right'>
            <img src="/static/images/brand/logo.jpeg" alt="Logo">
        </div>
   
    </div>

    <div id="navbar">
        <a href="#">Home</a>
        <a href="#">Dashboard</a>
        <div class="dropdown">
            <a href="#">Register</a>
            <div class="dropdown-content">
                <a href="#">Register Owner</a>
                <a href="#">Deregister Owner</a>
                <a href="#">List Register</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">Payment</a>
            <div class="dropdown-content">
                <a href="#">Make Payment</a>
                <a href="#">List Payment</a>
                <a href="#">Balance</a>
            </div>
        </div>
        <a href="#">Contact</a>
    </div>
    <div id='main'>
        <div class='container'>
            <div> </div>
            
        </div>
    </div>
</div>
    
</body>
</html>
<!--
#header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
<--
