{% extends "base2.html" %}

{% block content %}
    <h1>Owner List</h1>
    <ul>
        {% for owner in owners %}
            <li>
                <a href="{% url 'owner_detail' owner.pk %}">View Details</a>

                    {{ owner.name }} - {{ owner.mobile }} - {{ owner.id_number }} - {{ owner.owner_type }} - {{ owner.date_created }} - {{ owner.date_edited }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <!---<a href="{% url 'create_owner' %}">Add Owner</a>--->
{% endblock %}


