{% extends "base2.html" %}

{% block content %}
<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
        <div class="ml-5 mb-0">
            <a class="btn btn-white date-range-btn" href="#" id="daterange-btn">
                <svg class="header-icon2 mr-3" x="1008" y="1248" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <path d="M5 8h14V6H5z" opacity=".3"/><path d="M7 11h2v2H7zm12-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-4 3h2v2h-2zm-4 0h2v2h-2z"/>
                </svg> <span>Select Date
                <i class="fa fa-caret-down"></i></span>
            </a>
        </div>
    </div>
</div>
<!--End Page header-->

{% for floor, total_balance in total_balance_per_floor.items %}
    <p>Total Balance for Floor {{ floor }}: {{ total_balance }}</p>
{% endfor %}

<h1>Registers in Payment</h1>

<table border="1">
    <tr>
        <th>Owner</th>
        <th>Floor</th>
        <th>Room Number</th>
        <th>Balance</th>
        <th>Due Months</th>
        <th>OUW US</th>
        <th>TOTAL OUW US</th>
        <th>Month Paid</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>PAY STATUS</th>
        <th>STATUS</th>
        <th>Months Unpaid</th>
       
    </tr>
    {% for register in registers_in_payment %}
        <tr>
            <td>{{ register.owner }}</td>
            <td>{{ register.floor }}</td>
            <td>{{ register.room_number }}</td>
            <td>{{ register.balance }}</td>
            <td>{{ register.due_months }}</td>
            <td>{{ register.ouw_us }}</td>
            <td>{{ register.total_ouw_us }}</td>
            <td>{{ register.month_paid }}</td>
            <td>{{ register.start_date }}</td>
            <td>{{ register.end_date }}</td>
            <td>{{ register.pay_status }}</td>
            <td>{{ register.status }}</td>
            <td>{{ register.new_month_paid_list }}</td>
           
        </tr>
    {% endfor %}
</table>

<h1>Registers Not in Payment</h1>
<table border="1">
    <tr>
        <th>Owner</th>
        <th>Floor</th>
        <th>Room Number</th>
        <th>Balance</th>
        <th>Due Months</th>
        <th>OUW US</th>
        <th>Month Paid</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Months Unpaid</th>
       
    </tr>
    {% for register in registers_not_in_payment %}
        <tr>
            <td>{{ register.owner }}</td>
            <td>{{ register.floor }}</td>
            <td>{{ register.room_number }}</td>
            <td>{{ register.balance }}</td>
            <td>{{ register.due_months }}</td>
            <td>{{ register.ouw_us }}</td>
            <td>{{ register.month_paid }}</td>
            <td>{{ register.start_date }}</td>
            <td>{{ register.end_date }}</td>
            <td>{{ register.new_month_paid_list }}</td>
           
        </tr>
    {% endfor %}
</table>

{% endblock %}
