{%  extends 'base2.html' %}
{% load static %}

{% block content %}
<!--Page header-->
<div class="page-header">
	<div class="page-leftheader">
		<h4 class="page-title">Register List</h4>
	</div>
	<div class="page-rightheader ml-auto d-lg-flex d-none">
		<div class="ml-5 mb-0">
			<a class="btn btn-white date-range-btn" href="#" id="daterange-btn">
				<svg class="header-icon2 mr-3" x="1008" y="1248" viewBox="0 0 24 24"  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
					<path d="M5 8h14V6H5z" opacity=".3"/><path d="M7 11h2v2H7zm12-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-4 3h2v2h-2zm-4 0h2v2h-2z"/>
				</svg> <span>Select Date
				<i class="fa fa-caret-down"></i></span>
			</a>
		</div>
	</div>
</div>
<!--End Page header-->
<!----<h4>Edited Registers</h4>--->
    <p><a href="{% url 'edited_registers' %}">Edited Registers</a></p>
<!--div-->
<div class="card">
	<div class="card-header">
		<div class="card-title">Stall Owners Registered</div>
	</div>
	<div class="card-body">
		<div class="">
			<div class="table-responsive">
				<table id="example" class="table table-bordered text-nowrap key-buttons">
					<thead>
						<tr>
							<th class="border-bottom-0">Name</th>
							<th class="border-bottom-0">Floor</th>
							<th class="border-bottom-0">Room</th>
							<th class="border-bottom-0">Amount</th>
							<th class="border-bottom-0">Start Date</th>
							<th class="border-bottom-0">Date Created</th>
							<th class="border-bottom-0">Reassign</th>
							<th class="border-bottom-0">Create Payment</th>
						</tr>
					</thead>
					<tbody>
						
						{% for i in registers %}
						<tr>
							<td>{{ i.owner.name }}</td>
							<td>{{ i.room.room_number }}</td>
							<td>{{ i.reg_status }}</td>
							<td>{{ i.room.amount }}</td>
							<td>{{ i.start_date }}</td>
							<td>{{ i.date_registered }}</td>
							<td><a href="{% url 'edit_register' i.pk %}">Edit</a></td>
							<td><a href="{% url 'create_payment_test2' i.pk %}">Edit</a></td>
							

							
							
						</tr>
						
						{% endfor %}

						<!-- register_list.html -->



					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!--/div-->


{% endblock %}